set (autostart ${PLUGIN_HTMLAPP_AUTOSTART})
set (preconditions Platform Graphics)

map()
    kv(outofprocess ${PLUGIN_HTMLAPP_OUTOFPROCESS})
end()
ans(rootobject)

map()
		if(PLUGIN_HTMLAPP_WEBFILEPATH)
        kv(web_file_path ${PLUGIN_HTMLAPP_WEBFILEPATH}) 
    endif()
		if(PLUGIN_HTMLAPP_URL)
        kv(url ${PLUGIN_HTMLAPP_URL}) 
    endif()
    if(PLUGIN_HTMLAPP_CLIENTIDENTIFIER)
        kv(clientidentifier ${PLUGIN_HTMLAPP_CLIENTIDENTIFIER})
    endif()
end()
ans(configuration)

map_append(${configuration} root ${rootobject})
